<!DOCTYPE html>
<html>
<head>
  <title>Todo list</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    a:link, a:visited, a:hover, a:active{
      color: white;
    }
  </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Simple Todo List</a>
    </div>
  </div>
</nav>
<div class="container-fluid">
    <ul class="list-group">
    {% for task in tasks %}
    <li class="list-group-item">
        {% if task.done %} <strike>{% endif %}{{ task.content }}{% if task.done %}</strike>{% endif %}
    <button type="button" class="btn btn-success"><a href="/done/{{ task.id }}">X</a></button>
    <button type="button" class="btn btn-danger"><a href="/delete/{{ task.id }}">delete</a></button>
    </li>
{% endfor %}
</ul>

<form action="/task" method="post">
    <div class="form-group">
    <p><input type="text" name="content" class="form-control"></p>
        </div>
    <input type="submit" value="add task" class="btn btn-primary">
</form>
</div>

</body>
</html>
